<main>
  <div class="container">
    <div class="row text-center">
      <div class="col-5">
        <%= attachment_image_tag @photogram, :image, :fill, 300, 300, fallback: "default-image.jpg" %>
      </div>
      <div class="col-5 text-left ml-1 mt-3">
        <h2>title:<%= @photogram.title%></h2>
        <p><strong>概要:</strong><br /><%= @photogram.body %></p>
      </div>
    </div>
  </div>
</main>